.grad1 {
    height: 200px;
    background-color: #949CA5; 
    background-image: linear-gradient(#949CA5, white); 
}

.header-bar {
    border: 0;
    background-color: #949CA5;
    position: relative;
    min-height: 80px;
    margin-bottom: 0;
}

hr {
    border: .3px solid #F6F7F8;
    margin: auto;
}

.center {
    margin: 0 auto;
    width: 100px;
    display: block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.form-group {
    margin: 0px auto;
    width: 25%;
    display: block;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
    color: #6f42c1;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2;
    color: #949CA5;
}

 ol {
    list-style-type: none;
    display: flex;
    flex-direction: row
 }  

